.main-contents {
    width: 70%;
    height: auto;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.mission {
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
    text-align: left;
}

.slogan {
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
    text-align: left;
}

.values {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: left;
}

.main-title {
    font-weight: 900;
    font-size: 2.5vw;
    margin-top: 130px;
    margin-bottom: 0px;
}

.sub-title {
    font-weight: 900;
    font-size: 2.5vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mission-rect {
    background-color: #0D1833;
    color: white;
    text-align: center;
    margin:50px auto;

    font-size: 3.5vw;
    font-weight: 900;
    padding: 0.5em 1em;
    
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.5);
}

.mission-text {
    display: inline-block;
    text-align: left;
}

.slogan-rect {
    background-color: #0D1833;
    color: white;
    text-align: center;
    margin:50px auto;

    font-size: 4vw;
    font-weight: 900;
    padding: 0.5em 1em;
    
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.5);
}

.slogan-text {
    display: inline-block;
    text-align: center;
}

.values1-rect {
    background-color: #0D1833;
    color: white;
    text-align: center;
    margin:20px auto;

    font-size: 4vw;
    font-weight: 900;
    padding: 0.5em 0.3em;
    
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.5);
}

.values2-rect {
    background-color: #0D1833;
    color: white;
    text-align: center;
    margin:20px auto;

    font-size: 4vw;
    font-weight: 900;
    padding: 0.5em 0.3em;
    
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.5);
}

.values-text {
    display: inline-block;
    text-align: center;
    font-size: 3vw;
    padding:0;
    margin:0;
}

.explain {
    font-weight: 900;
    font-size: 1vw;
    margin-top: 0px;
    margin-bottom: 30px;
}