.top {
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
}

.top-contents {
    padding-top: 350px;
    padding-bottom: 400px;
    margin: 0px;
}

.top a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 5vw;
}

.top p{
    color: black;
    font-weight: 900;
    font-size: 3vw;
    font-family: 'BIZ UDGothic', sans-serif;
}