.top {
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
}

.top-contents {
    padding-top: 270px;
    padding-bottom: 270px;
    margin: 0px;
}

.top a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 65px;
}

.top p{
    color: black;
    font-weight: 900;
    font-size: 44px;
    font-family: 'BIZ UDGothic', sans-serif;
}