.contents {
    text-align: center;
    padding-bottom: 30px;
}

.btn {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8vw;
}

.btn-backWhite {
    border-radius: 14px;
    border: 7px;
    background-color: #0D1833;
    color:white;
    text-align: center;
  
    font-size: 1.5vw;
    font-weight: 900;
    padding: 1em 5em;
    margin-top: 0px;
    margin-bottom: 6vw;
    text-decoration: none;
    
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.5);
  
    font-family: "Toppan Bunkyu Midashi Go Std", sans-serif;
}