.twitter-timeline {
    width: 30%;
    text-align: center;
    margin:10px;
}

.contents {
    text-align: center;
    display: flex;
}

.x-box {
    width: 49%;
    height: auto;
    text-align: center;
    display:flex;
    margin:0 auto;
}

.insta-box {
    width: 49%;
    height: auto;

    text-align: center;
    display: flex;
    margin:0 auto;
}

.x {
    height: 50px;
    text-align: center;
    padding:auto;
}

.instagram {
    height: 50px;
    text-align: center;
    padding:auto;
}

.btn {
    border-radius: 14px;
    border: 7px;
    background-color: #ffffff;
    color:#0D1833;
    text-align: center;
  
    font-size: 22px;
    font-weight: 900;
    padding: 1em 2em;
    text-decoration: none;
    
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.5);
  
    font-family: "Toppan Bunkyu Midashi Go Std", sans-serif;
  }