.ja {
    font-family: "toppan-bunkyu-midashi-go-std", sans-serif;

}

.en {
    font-family: "Jost", sans-serif;
}

.title {
    font-size: 60px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.undertitle {
    font-size: 50px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.middle {
    font-size: 40px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mimu {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.brother {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub {
    font-size: 27px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nico {
    font-size: 25px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.note {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btnOutreach p {
    margin-top: 25px;
}

.bold {
    font-style: bold;
}
