body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#fff;  /* 背景カラー */
  z-index: 9999;  /* 一番手前に */
  pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;  /* 初期値 : 透過状態 */
  -webkit-transition: opacity .8s ease;  /* アニメーション時間は 0.8秒 */
  transition: opacity .8s ease;
}

body.fadeout::after {
  opacity: 1;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  position: fixed;
  font-weight: 900;
  font-size: 1em;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
}

.nav-left {
  margin-left: 5vw;
  height:100%;
}

.nav-left a img{
  display: block;
  width: 5vw;
  height: auto;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  z-index: 3;
}

.nav-right {
  align-items: center;
  display: flex;
}

.line {
  margin-right: 1em;
  display: flex;
}

.line a {
  margin-left: 1em;
  margin-right: 1em;
  color: black;
  text-decoration: none;
  font-size: 1.7vw;
}

.lang {
  margin-right: 1em;
  display: flex;
}

.lang a {
  margin-left: 1em;
  margin-right: 1em;
  color: black;
  text-decoration: none;
  font-size:1.7vw;
}

.bord {
  border-bottom: 3px solid #000;
  display: inline-block;
}

.aboutMenu {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;

  background-color:rgba(255, 255, 255, 0.9);
  text-align: center;
  position: fixed;
  padding-top:5vw;
  padding-bottom:2vw;
  font-weight: 900;
  width: 100%;
  height: auto;
  z-index: 1;
}

.aboutMenu.visible {
  display: block;
  opacity: 1;
}

.aboutMenu_title {
  font-size:3vw;
  padding:0px;
  margin:auto 0px;
}

.aboutMenu_choice a{
  font-size:2vw;
  font-weight: 700;
  margin:auto 1em 1em 1em;
  padding:0px;
  text-decoration: none;
  color:black;
}
