.maincontents {
    width: 93%;
    height: auto;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.member-contents {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member-list {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 27%;
    height: auto;
    text-align: center;

    /*コレ*/border-bottom: 3px solid #333;
    padding: 10px;
    margin: 20px;
    background: #f2f2f2;

    display: inline-block;
}

.icon {
    width: 90%;
    height: 350px;
    border: 1px solid #ddd;
    object-fit: cover;
}

.role {
    font-size: 18px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Jost", sans-serif;
}

.romen {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Jost", sans-serif;
}

.stamp img{
    width: 7%;
    height: auto;
    padding: auto;
    margin:auto 30 30 auto;
}

.item-left {
    text-align: left;

}

.item-right {
    text-align: right;
}

.staff-contents {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

.staff-list {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contents-left {
    height: 300px;
    width: 300px;
    text-align: left;
    display: inline-block;
}