p {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 18px;
}

.white {
    color: #fffffc;
}
.black {
    color: #0d1833;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "ab-hanamaki", sans-serif;
    font-style: normal;
}

.subtitle {
    font-size: 26px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
}