@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
  -webkit-user-drag: none;
}

body {
    width: 100%;
    height: 100%; /* これが適切に機能しているか、特にhtml要素の高さが全ビューポートをカバーしているかを保証 */
    background-color: #0d1833;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 100;
    background-color: black;
    opacity: 1; 
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}
.frontpage {
    height: 200vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1; /* 他の要素に覆われないようにz-indexを設定 */
}
.frontpage::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 200vh;
    background-color: #fffffc;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1; /* 必ず前面に出るように */
    
}
.container-page {
  height: auto;
  width: 100vw;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
}

#date {
  transition: opacity 0.3s ease;
  opacity: 1;
}

#date:hover {
  opacity: 0.7;
}

#btn {
  width: 25vw;
  height: auto;
  background-color: #0d1833;
  color: #fffffc;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  padding: 20px 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

#btn:hover {
  transform: translateY(-5px); /* ホバー時に上に5px移動 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 影を追加して浮き出る効果を強調 */
}


.content_title {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content2 {
    width: 60%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content2_under {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#mouse_container {
    position: relative;
    width: 40%;
    height: 100%;

    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    margin-right: 25px;

    background-image: url("assets/toppage/program2.png");
    background-size: cover;
    opacity: 0.7;
}
#mouse_container:hover {
  opacity: 1;
}
.content2_right {
    width: 40%;
    height: 100%;
    font-size: 20px;
    margin-left: 25px;
}
#image_move {
    position: absolute;
    width: 300px; /* 画像のサイズを適宜調整してください */
}
.image_right {
    width: 40%;
    height: 100%;

    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    margin-left: 25px;
}
.image_left {
  width: 40%;
  height: 100%;

  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px 0 0 50px;
  margin-right: 25px;
}
.image_right img {
  object-fit:scale-down;
  width: 100%;
  height: 100%;
}
.image_left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.detail {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.circle_container {
    position: relative;
    width: 100%;
    height: 200px; /* この高さは円の高さに合わせて調整されている */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.moving-circleR {
    width: 500px;
    height: 500px;
    background-color: transparent;
    border: 3px solid #C83833;
    border-radius: 50%;
    position: absolute;
    animation: moveCircleR 40s linear infinite;
    z-index: -1;
    background-image: url("assets/activity/0152C353-20E7-4A4B-95C6-B0456B4398CE.jpg");
    background-size: cover;
    opacity: 0.7;
  }
  
  @keyframes moveCircleR {
    0% {
        transform: translateX(-150%) translateY(-400px);
      }
      100% {
        transform: translateX(100%) translateY(-800px);
      }
  }

  .moving-circleG {
    width: 500px;
    height: 500px;
    background-color: transparent;
    border: 3px solid #1e7c3c;
    border-radius: 50%;
    position: absolute;
    animation: moveCircleG 40s linear infinite;
    z-index: -1;
    background-image: url("assets/activity/DSC3418.jpg");
    background-size: cover;
    opacity: 0.7;
  }
  
  @keyframes moveCircleG {
    0% {
        transform: translateX(150%) translateY(0px);
      }
      100% {
        transform: translateX(-150%) translateY(200px);
      }
  }

  .moving-circleB {
    width: 911px;
    height: 911px;
    background-color: transparent;
    border: 3px solid #0857A2;
    border-radius: 50%;
    position: absolute;
    animation: moveCircleB 40s linear infinite;
    z-index: -1;
  }
  
  @keyframes moveCircleB {
    0% {
        transform: translateX(-130%) translateY(1000px);
      }
      100% {
        transform: translateX(100%) translateY(800px);
      }
  }

  .moving-circleP {
    width: 911px;
    height: 911px;
    background-color: transparent;
    border: 3px solid #714086;
    border-radius: 50%;
    position: absolute;
    animation: moveCircleP 40s linear infinite;
    z-index: -1;
  }
  
  @keyframes moveCircleP {
    0% {
      transform: translateX(150%) translateY(1300px);
    }
    100% {
      transform: translateX(-100%) translateY(2000px);
    }
  }
  

.members_container {  
    width: 70%;
    margin: 0 auto; /* 中央揃え */
    padding: 0;
}

.members {
  display: flex;
  flex-wrap: wrap; /* 要素がコンテナの幅を超えた場合に次の行に折り返す */
  justify-content: flex-start; /* 左詰め */
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8%; /* 行間隔と列間隔を設定 */
}
.members li {
  flex: 1; /* 各アイテムが等しい幅を取る */
  height: auto;
  flex: 0 0 28%; 
  margin-bottom: 10vw;
  text-align: center;
}

.members img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: #fffffc;
}

.members li:hover {
  opacity: 0.5;
}

.detail {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  color: #fffffc;
}

.desc {
  border-left: 2px solid;
  padding-bottom: 30px;
  padding-left: 32px;
  margin:0;
}
.desc p{
  font-size: 24px;
  margin:0;
  padding:0;
}

.detail_container {
  display: flex;
}

.detail_container dt {
  flex-shrink: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    width: 150px;
}

.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33vw;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  background-color: #fffffc;
  text-align: center;
  z-index: 10;
  color: #0d1833;
  border-radius: 50px;
}

#popup button{
  background-color: #fffffc;
  color: #0d1833;
  border: 1px solid #0d1833;
  padding: 10px 25px;
  border-radius: 100px;
}

.contact {
  width: 100%;
  height: auto;
  background-color: #fffffc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sns {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

#email {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #0857A2; /* Green background */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

#notification {
  margin-top: 20px;
  color: white;
  background-color: #4CAF50; /* Green background */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 13;
}

.hide {
  display: none;
}

.show {
  display: block;
}
