@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
html {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
} 
img {
  -webkit-user-drag: none;
}
body {
  width: 100%;
  height: 100%;
  background-color: #0d1833;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 100;
  background-color: black;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}
.frontpage {
  height: 200vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.frontpage::after {
  content: "";
  position: absolute;
  width: 200vw;
  height: 200vh;
  background-color: #fffffc;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.container-page {
  height: auto;
  width: 100vw;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#date {
  transition: opacity 0.3s ease;
  opacity: 1;
}
#date:hover {
  opacity: 0.7;
}
#btn {
  height: auto;
  background-color: #0d1833;
  color: #fffffc;
  border-radius: 50px;
  text-align: center;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  text-decoration: none;
}
/* Desktop Styles */
@media (min-width: 768px) {
  #btn {
     width: 25vw;
     font-size: 20px;
     padding: 20px 100px;
  }
}
/* Mobile Styles */
@media (max-width: 767px) {
  #btn {
    width: 50vw;
    font-size: 20px;
    padding: 2vw 20vw;
  }

}
#btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Desktop Styles */
@media (min-width: 768px) {
  .access {
     width: 51%;
  }
}
/* Mobile Styles */
@media (max-width: 767px) {
  .access {
    width: 85vw;
    margin: 0 auto;
  }

}
.content_title {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Desktop Styles */
@media (min-width: 768px) {
  .content_title {
     width: 51%;
  }
}
/* Mobile Styles */
@media (max-width: 767px) {
  .content_title {
    width: 85vw;
    margin: 0 auto;
  }

}
.content2 {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Desktop Styles */
@media (min-width: 768px) {
  .content2 {
     width: 51%;
  }
  .content2_under {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}
/* Mobile Styles */
@media (max-width: 767px) {
  .content2 {
    width: 85vw;
    margin: 0 auto;
  }
  .content2_under {
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}
#mouse_container {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px 0 0 50px;
  background-image: url("assets/toppage/program2.png");
  background-size: cover;
  opacity: 0.7;
}
/* Desktop Styles */
@media (min-width: 768px) {
  #mouse_container {
     width: 40%;
  }
}
/* Mobile Styles */
@media (max-width: 767px) {
  #mouse_container {
    width: 90%;
    height: 30vh;
    margin: 0 auto;
 }
}
#mouse_container:hover {
  opacity: 1;
}

#image_move {
  position: absolute;
  width: 13vw;
}
.image_right, .image_left {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  margin: 20px 0;
}
/* Desktop Styles */
@media (min-width: 768px) {
  .image_right, .image_left {
     width: 40%;
     height: 100%;
  }
  .image_right img, .image_left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .content2_right {
    width: 40%;
    height: 100%;
    font-size: 20px;
  }
  .margin-item {
    margin-left: 25px;
  }
}
/* Mobile Styles */
@media (max-width: 767px) {
  .image_right, .image_left {
    display: none;
 }
  .image_right img, .image_left img {
    display: none;
  }
  .content2_right {
    width: 90%;
    height: auto;
    font-size: 20px;
    margin: 0 auto;
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  .detail {
    width: 51%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #fffffc;
  }
}
/* Mobile Styles */
@media (max-width: 767px) {
  .detail {
    width: 86%;
    margin: 0 auto;
    padding: 0;
    color: #fffffc;
  }
}

  /* Desktop Styles */
@media (min-width: 768px) {
  .circle_container {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    .moving-circleR{
      width: 500px;
      height: 500px;
      background-color: transparent;
      border: 3px solid #C83833;
      border-radius: 50%;
      position: absolute;
      animation: moveCircleR 40s linear infinite;
      z-index: -1;
      background-image: url("assets/activity/0152C353-20E7-4A4B-95C6-B0456B4398CE.jpg");
      background-size: cover;
      opacity: 0.7;
    }
  
    @keyframes moveCircleR {
      0% {
          transform: translateX(-150%) translateY(-400px);
        }
        100% {
          transform: translateX(100%) translateY(-800px);
        }
      }
    .moving-circleG {
      width: 500px;
      height: 500px;
      background-color: transparent;
      border: 3px solid #1e7c3c;
      border-radius: 50%;
      position: absolute;
      animation: moveCircleG 40s linear infinite;
      z-index: -1;
      background-image: url("assets/activity/DSC3418.jpg");
      background-size: cover;
      opacity: 0.7;
    }
    @keyframes moveCircleG {
      0% {
          transform: translateX(150%) translateY(0px);
        }
        100% {
          transform: translateX(-150%) translateY(200px);
        }
      }
    .moving-circleB {
      width: 911px;
      height: 911px;
      background-color: transparent;
      border: 3px solid #0857A2;
      border-radius: 50%;
      position: absolute;
      animation: moveCircleB 40s linear infinite;
      z-index: -1;
    }
    @keyframes moveCircleB {
      0% {
          transform: translateX(-130%) translateY(1000px);
        }
        100% {
          transform: translateX(100%) translateY(800px);
        }
      }
    .moving-circleP {
      width: 911px;
      height: 911px;
      background-color: transparent;
      border: 3px solid #714086;
      border-radius: 50%;
      position: absolute;
      animation: moveCircleP 40s linear infinite;
      z-index: -1;
    }
    @keyframes moveCircleP {
      0% {
        transform: translateX(150%) translateY(1300px);
      }
      100% {
        transform: translateX(-100%) translateY(2000px);
      }
    }
}
/* Mobile Styles */
@media (max-width: 767px) {
  .circle_container {
    display: none;
  }
}
  .desc {
    border-left: 2px solid;
    padding-bottom: 30px;
    padding-left: 32px;
    margin:0;
  }

.members_container {
  margin: 0 auto;
  padding: 0;
}

/* Desktop Styles */
@media (min-width: 768px) {
  .members_container {
    width: 51%;
  }
  .Name {
    font-size: 30px;
  }
  .members li {
    margin-bottom: 15vw;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .members_container {
    width: 90%;
  }
  .Name {
    font-size: 20px;
  }
  .members li {
    margin-bottom: 20vw;
  }
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8%;
}
.members li {
  flex: 1;
  height: auto;
  flex: 0 0 28%;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}
.members img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: #fffffc;
}
.members li:hover {
  opacity: 0.5;
}

.desc {
  border-left: 2px solid;
  padding-bottom: 30px;
  padding-left: 32px;
  margin:0;
}
.desc p {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.detail_container {
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
.detail_container dt {
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  width: 150px;
}
.hidden {
  display: none;
}
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33vw;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  background-color: #fffffc;
  text-align: center;
  z-index: 10;
  color: #0d1833;
  border-radius: 50px;
}
#popup button {
  background-color: #fffffc;
  color: #0d1833;
  border: 1px solid #0d1833;
  padding: 10px 25px;
  border-radius: 100px;
}
.contact {
  width: 100%;
  height: auto;
  background-color: #fffffc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:250px 0 150px 0;
}
.sns {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}
#email {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #0857A2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#email:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#notification {
  margin-top: 20px;
  color: white;
  background-color: #4CAF50;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 13;
}
.hide {
  display: none;
}
.show {
  display: block;
}
#formlink {
  text-decoration: none;
  color: #fffffc;
  font-weight: 700;
  border-bottom: #fffffc 2px solid;
  font-size: 24px;
  transition: color 0.3s ease, border 0.1s ease;
}
#formlink:hover {
  text-decoration: none;
  color: #ea6948;
  border-bottom: #ea6948 4px solid;
}
#schedule {
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fffffc;
}
/* Desktop Styles */
@media (min-width: 768px) {
  #schedule {
    width: 51%;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  #schedule {
    width: 90%;
    
  }
}

#schedule h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
#schedule table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
#schedule th, td {
  padding: 10px;
  border: 1px solid #ffffff;
  text-align: left;
}
#day1 th, #day2 th, #day3 th {
  background-color: #0857A2;
}

/* Desktop Styles */
@media (min-width: 768px) {
}

/* Mobile Styles */
@media (max-width: 767px) {
}

